<section class="ct-section"><div class="ct-section-inner-wrap">

<div id="main-content" class="error-page">
  <h1>Opps</h1>

  <h2>{{t 'nonexistent_page'}}</h2>
  <p>{{t 'mistyped_address_or_moved_page'}}</p>

  {{#link 'help_center'}}
    {{t 'back_to_homepage'}}
  {{/link}}
</div>
</div>
</section>