</div>
<section id="section-31-12" class=" ct-section">
  <div class="ct-section-inner-wrap">
    <div id="new_columns-32-12" class="ct-new-columns">
      <div id="div_block-33-12" class="ct-div-block footer-cols">
        <h3 id="headline-37-12" class="ct-headline footer-title">Discover WeSwap</h3>
        <div id="-slide-menu-39-12" class="oxy-slide-menu ">
          <nav class="oxy-slide-menu_inner" data-currentopen="disable" data-duration="300" data-start="open"
            data-icon="Lineariconsicon-chevron-down" data-trigger-selector=".oxy-burger-trigger">
            <ul id="menu-footer-discover-weswap" class="oxy-slide-menu_list">
              <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a
                  href="https://beta.weswap.com/blog/">Blog</a></li>
            </ul>
          </nav>
        </div>

      </div>
      <div id="div_block-46-12" class="ct-div-block footer-cols">
        <h3 id="headline-47-12" class="ct-headline footer-title">Legal Stuff</h3>
        <div id="-slide-menu-48-12" class="oxy-slide-menu ">
          <nav class="oxy-slide-menu_inner" data-currentopen="disable" data-duration="300" data-start="open"
            data-icon="Lineariconsicon-chevron-down" data-trigger-selector=".oxy-burger-trigger">
            <ul id="menu-footer-legal-stuff" class="oxy-slide-menu_list">
              <li id="menu-item-44"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-44">
                <a href="https://beta.weswap.com/privacy-policy/">Privacy Policy</a></li>
              <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a
                  href="https://beta.weswap.com/terms-conditions/">Terms &#038; Conditions</a></li>
            </ul>
          </nav>
        </div>

      </div>
      <div id="div_block-49-12" class="ct-div-block footer-cols">
        <h3 id="headline-50-12" class="ct-headline footer-title">Help</h3>
        <div id="-slide-menu-51-12" class="oxy-slide-menu ">
          <nav class="oxy-slide-menu_inner" data-currentopen="disable" data-duration="300" data-start="open"
            data-icon="Lineariconsicon-chevron-down" data-trigger-selector=".oxy-burger-trigger">
            <ul id="menu-footer-help" class="oxy-slide-menu_list">
              <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a
                  href="#">Help Centre</a></li>
              <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47"><a
                  href="#">Email us</a></li>
            </ul>
          </nav>
        </div>

        <div id="text_block-57-12" class="ct-text-block">Mon-Fri: 9.00am - 4.00pm<br><br>We’re currently working at a
          reduced capacity and will get back to you as soon as we can.</div>
      </div>
    </div>
    <div id="div_block-52-12" class="ct-div-block ">
      <div id="div_block-98-12" class="ct-div-block"><img id="image-65-12" alt="" data-srcset=""
          data-src="https://beta.weswap.com/wp-content/uploads/2021/07/app_store.svg"
          data-sizes="(max-width: px) 100vw, px" class="ct-image lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img
            id="image-65-12" alt="" src="https://beta.weswap.com/wp-content/uploads/2021/07/app_store.svg"
            class="ct-image" srcset="" sizes="(max-width: px) 100vw, px" /></noscript></div>
      <div id="div_block-99-12" class="ct-div-block"><img id="image-97-12" alt="" data-srcset=""
          data-src="https://beta.weswap.com/wp-content/uploads/2021/07/google_store.svg"
          data-sizes="(max-width: px) 100vw, px" class="ct-image lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /><noscript><img
            id="image-97-12" alt="" src="https://beta.weswap.com/wp-content/uploads/2021/07/google_store.svg"
            class="ct-image" srcset="" sizes="(max-width: px) 100vw, px" /></noscript></div>
      <div id="_social_icons-60-12" class="oxy-social-icons"><a href='https://www.facebook.com/weswap' target='_blank'
          class='oxy-social-icons-facebook'><svg>
            <use xlink:href='#oxy-social-icons-icon-facebook-blank'></use>
          </svg></a><a href='https://www.instagram.com/weareweswap' target='_blank'
          class='oxy-social-icons-instagram'><svg>
            <use xlink:href='#oxy-social-icons-icon-instagram-blank'></use>
          </svg></a><a href='https://www.twitter.com/weareweswap' target='_blank' class='oxy-social-icons-twitter'><svg>
            <use xlink:href='#oxy-social-icons-icon-twitter-blank'></use>
          </svg></a><a href='https://www.linkedin.com/company/weswap-com' target='_blank'
          class='oxy-social-icons-linkedin'><svg>
            <use xlink:href='#oxy-social-icons-icon-linkedin-blank'></use>
          </svg></a></div>
    </div>
    <div id="text_block-91-12" class="ct-text-block">WeSwap and the WeSwap logo are trademarks of WeSwap.com Limited.
      This card is issued by Monavate Limited, pursuant to licence by Mastercard International. For further information,
      please visit&nbsp;<a href="https://beta.weswap.com/legal/">weswap.com/legal</a></div>
  </div>
</section>
<!-- WP_FOOTER -->
<?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1">
  <defs>
    <symbol id="Lineariconsicon-chevron-down" viewBox="0 0 20 20">
      <title>chevron-down</title>
      <path class="path1"
        d="M0 6c0-0.128 0.049-0.256 0.146-0.354 0.195-0.195 0.512-0.195 0.707 0l8.646 8.646 8.646-8.646c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-9 9c-0.195 0.195-0.512 0.195-0.707 0l-9-9c-0.098-0.098-0.146-0.226-0.146-0.354z" />
    </symbol>
  </defs>
</svg>
<script type="text/javascript" id="ct_custom_js_14">jQuery('#main-hamburger').on('click', function () {
    if (jQuery('.oxy-modal-backdrop').hasClass('live')) {
      oxyCloseModal();
      jQuery('#logo-svg').each(function () {
        jQuery(this).find('.txt').css({ fill: '#333' });
        jQuery('#main-menu-header').css({ 'background-color': '#FFF' });
      });
    } else {
      jQuery('#open-hamburger').click();
      jQuery('#logo-svg').each(function () {
        jQuery(this).find('.txt').css({ fill: '#FFF' });
        jQuery('#main-menu-header').css({ 'background-color': '#333' });
      });
    }
  });</script>

<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('body').on('click', '.oxy-menu-toggle', function () {
      jQuery(this).parent('.oxy-nav-menu').toggleClass('oxy-nav-menu-open');
      jQuery('body').toggleClass('oxy-nav-menu-prevent-overflow');
      jQuery('html').toggleClass('oxy-nav-menu-prevent-overflow');
    });
    var selector = '.oxy-nav-menu-open .menu-item a[href*="#"]';
    jQuery('body').on('click', selector, function () {
      jQuery('.oxy-nav-menu-open').removeClass('oxy-nav-menu-open');
      jQuery('body').removeClass('oxy-nav-menu-prevent-overflow');
      jQuery('html').removeClass('oxy-nav-menu-prevent-overflow');
      jQuery(this).click();
    });
  });
</script>


<script type="text/javascript">
  jQuery(document).ready(oxygen_init_burger);
  function oxygen_init_burger($) {

    $('.oxy-burger-trigger').each(function (i, OxyBurgerTrigger) {

      let touchEventOption = $(OxyBurgerTrigger).children('.hamburger').data('touch');
      let touchEvent = 'ontouchstart' in window ? touchEventOption : 'click';

      // Close hamburger when element clicked 
      $(OxyBurgerTrigger).on(touchEvent, function (e) {

        e.stopPropagation();

        // Check user wants animations
        if ($(this).children('.hamburger').data('animation') !== 'disable') {
          $(this).children('.hamburger').toggleClass('is-active');
        }

      });

    });



    // For listening for modals closing to close the hamburger
    var className = 'live';
    var target = document.querySelectorAll(".oxy-modal-backdrop[data-trigger='user_clicks_element']");
    for (var i = 0; i < target.length; i++) {

      // create an observer instance
      var observer = new MutationObserver(function (mutations) {
        mutations.forEach(function (mutation) {

          // When the style changes on modal backdrop
          if (mutation.attributeName === 'style') {

            // If the modal is live and is closing  
            if (!mutation.target.classList.contains(className)) {

              // Close the toggle
              closeToggle(mutation.target);

            }
          }
        });
      });

      // configuration of the observer
      var config = {
        attributes: true,
        attributeFilter: ['style'],
        subtree: false
      };

      // pass in the target node, as well as the observer options
      observer.observe(target[i], config);
    }


    // Helper function to close hamburger if modal closed.
    function closeToggle(elem) {

      var triggerSelector = $($(elem).data('trigger-selector'));

      // Abort if burger not being used as the trigger or animations not turned on
      if ((!triggerSelector.hasClass('oxy-burger-trigger')) || (triggerSelector.children('.hamburger').data('animation') === 'disable')) {
        return;
      }
      // Close that particular burger
      triggerSelector.children('.hamburger').removeClass('is-active');

    }


  }</script>


<script type="text/javascript">

  // Initialize Oxygen Modals
  jQuery(document).ready(function () {

    function showModal(modal) {
      var $modal = jQuery(modal);
      $modal.addClass("live");
      var modalId = $modal[0].querySelector('.ct-modal').id;

      // Check if this modal can be shown according to settings and last shown time
      // Current and last time in milliseconds
      var currentTime = new Date().getTime();
      var lastShownTime = localStorage && localStorage['oxy-' + modalId + '-last-shown-time'] ? JSON.parse(localStorage['oxy-' + modalId + '-last-shown-time']) : false;
      // manual triggers aren't affected by last shown time
      if ($modal.data('trigger') != 'user_clicks_element') {
        switch ($modal.data('open-again')) {
          case 'never_show_again':
            // if it was shown at least once, don't show it again
            if (lastShownTime !== false) return;
            break;
          case 'show_again_after':
            var settingDays = parseInt($modal.data('open-again-after-days'));
            var actualDays = (currentTime - lastShownTime) / (60 * 60 * 24 * 1000);
            if (actualDays < settingDays) return;
            break;
          default:
            //always show
            break;
        }
      }
      // save current time as last shown time
      if (localStorage) localStorage['oxy-' + modalId + '-last-shown-time'] = JSON.stringify(currentTime);

      // trick to make jQuery fadeIn with flex
      $modal.css("display", "flex");
      $modal.hide();
      // trick to force AOS trigger on elements inside the modal
      $modal.find(".aos-animate").removeClass("aos-animate").addClass("aos-animate-disabled");

      // show the modal
      $modal.fadeIn(250, function () {
        // trick to force AOS trigger on elements inside the modal
        $modal.find(".aos-animate-disabled").removeClass("aos-animate-disabled").addClass("aos-animate");
      });


      if ($modal.data('close-automatically') == 'yes') {
        var time = parseInt($modal.data('close-after-time'));
        if ($modal.data('close-after-time-unit') == 'seconds') {
          time = parseInt(parseFloat($modal.data('close-after-time')) * 1000);
        }
        setTimeout(function () {
          hideModal(modal);
        }, time);
      }

      // close modal automatically after form submit (Non-AJAX)
      if ($modal.data('close-after-form-submit') == 'yes' && $modal.data("trigger") == "after_specified_time") {

        // WPForms
        // WPForms replaces the form with a confirmation message on page refresh
        if ($modal.find(".wpforms-confirmation-container-full").length > 0) {
          setTimeout(function () {
            hideModal(modal);
          }, 3000);
        }

        // Formidable Forms
        // Formidable Forms replaces the form with a confirmation message on page refresh
        if ($modal.find(".frm_message").length > 0) {
          setTimeout(function () {
            hideModal(modal);
          }, 3000);
        }

        // Caldera Forms
        // Caldera Forms replaces the form with a confirmation message on page refresh
        if ($modal.find(".caldera-grid .alert-success").length > 0) {
          setTimeout(function () {
            hideModal(modal);
          }, 3000);
        }

      }
    }

    var hideModal = function (modal) {

      // The function may be called by third party code, without argument, so we must close the first visible modal
      if (typeof modal === 'undefined') {
        var openModals = jQuery(".oxy-modal-backdrop.live");
        if (openModals.length == 0) return;
        modal = openModals[0];
      }

      var $modal = jQuery(modal);
      // refresh any iframe so media embedded this way is stopped
      $modal.find('iframe').each(function (index) {
        this.src = this.src;
      });
      // HTML5 videos can be stopped easily
      $modal.find('video').each(function (index) {
        this.pause();
      });
      // If there are any forms in the modal, reset them
      $modal.find("form").each(function (index) {
        this.reset();
      });

      $modal.fadeOut(400, function () {
        $modal.removeClass("live");
      });
    };

    window.oxyCloseModal = hideModal;

    jQuery(".oxy-modal-backdrop").each(function (index) {

      var modal = this;

      (function (modal) {
        var $modal = jQuery(modal);

        var exitIntentFunction = function (e) {
          if (e.clientY <= 0) {
            showModal(modal);
            document.removeEventListener("mouseleave", exitIntentFunction);
            document.removeEventListener("mouseout", exitIntentFunction);
          }
        }

        switch (jQuery(modal).data("trigger")) {

          case "on_exit_intent":
            document.addEventListener("mouseleave", exitIntentFunction, false);
            document.addEventListener("mouseout", exitIntentFunction, false);
            break;

          case "user_clicks_element":
            jQuery(jQuery(modal).data('trigger-selector')).click(function (event) {
              showModal(modal);
              event.preventDefault();
            });
            break;

          case "after_specified_time":
            var time = parseInt(jQuery(modal).data('trigger-time'));
            if (jQuery(modal).data('trigger-time-unit') == 'seconds') {
              time = parseInt(parseFloat(jQuery(modal).data('trigger-time')) * 1000);
            }
            setTimeout(function () {
              showModal(modal);
            }, time);
            break;

          case "after_scrolled_amount":
            window.addEventListener("scroll", function scrollDetection() {
              var winheight = window.innerHeight || (document.documentElement || document.body).clientHeight;
              var docheight = jQuery(document).height();
              var scrollTop = window.pageYOffset || (document.documentElement || document.body.parentNode || document.body).scrollTop;
              var isScrollUp = false;
              var oxyPreviousScrollTop = parseInt(jQuery(modal).data('previous_scroll_top'));
              if (!isNaN(oxyPreviousScrollTop)) {
                if (oxyPreviousScrollTop > scrollTop) isScrollUp = true;
              }
              jQuery(modal).data('previous_scroll_top', scrollTop);
              var trackLength = docheight - winheight;
              var pctScrolled = Math.floor(scrollTop / trackLength * 100);
              if (isNaN(pctScrolled)) pctScrolled = 0;

              if (
                (isScrollUp && jQuery(modal).data('trigger_scroll_direction') == 'up') ||
                (!isScrollUp && jQuery(modal).data('trigger_scroll_direction') == 'down' && pctScrolled >= parseInt(jQuery(modal).data('trigger_scroll_amount')))
              ) {
                showModal(modal);
                window.removeEventListener("scroll", scrollDetection);
              }
            }, false);
            break;
          case "on_scroll_to_element":
            window.addEventListener("scroll", function scrollDetection() {
              var $element = jQuery(jQuery(modal).data('scroll_to_selector'));
              if ($element.length == 0) {
                window.removeEventListener("scroll", scrollDetection);
                return;
              }

              var top_of_element = $element.offset().top;
              var bottom_of_element = $element.offset().top + $element.outerHeight();
              var bottom_of_screen = jQuery(window).scrollTop() + jQuery(window).innerHeight();
              var top_of_screen = jQuery(window).scrollTop();

              if ((bottom_of_screen > bottom_of_element - $element.outerHeight() / 2) && (top_of_screen < top_of_element + $element.outerHeight() / 2)) {
                showModal(modal);
                window.removeEventListener("scroll", scrollDetection);
              }
            }, false);
            break;
          case "after_number_of_clicks":
            document.addEventListener("click", function clickDetection() {
              var number_of_clicks = parseInt(jQuery(modal).data('number_of_clicks'));

              var clicks_performed = isNaN(parseInt(jQuery(modal).data('clicks_performed'))) ? 1 : parseInt(jQuery(modal).data('clicks_performed')) + 1;

              jQuery(modal).data('clicks_performed', clicks_performed);

              if (clicks_performed == number_of_clicks) {
                showModal(modal);
                document.removeEventListener("click", clickDetection);
              }
            }, false);
            break;
          case "after_time_inactive":
            var time = parseInt(jQuery(modal).data('time_inactive'));
            if (jQuery(modal).data('time-inactive-unit') == 'seconds') {
              time = parseInt(parseFloat(jQuery(modal).data('time_inactive')) * 1000);
            }
            var activityDetected = function () {
              jQuery(modal).data('millis_idle', 0);
            };
            document.addEventListener("click", activityDetected);
            document.addEventListener("mousemove", activityDetected);
            document.addEventListener("keypress", activityDetected);
            document.addEventListener("scroll", activityDetected);

            var idleInterval = setInterval(function () {
              var millis_idle = isNaN(parseInt(jQuery(modal).data('millis_idle'))) ? 100 : parseInt(jQuery(modal).data('millis_idle')) + 100;
              jQuery(modal).data('millis_idle', millis_idle);
              if (millis_idle > time) {
                clearInterval(idleInterval);
                document.removeEventListener("click", activityDetected);
                document.removeEventListener("mousemove", activityDetected);
                document.removeEventListener("keypress", activityDetected);
                document.removeEventListener("scroll", activityDetected);
                showModal(modal);
              }
            }, 100);
            break;

          case "after_number_of_page_views":
            var modalId = modal.querySelector('.ct-modal').id;
            var pageViews = localStorage && localStorage['oxy-' + modalId + '-page-views'] ? parseInt(localStorage['oxy-' + modalId + '-page-views']) : 0;
            pageViews++;
            if (localStorage) localStorage['oxy-' + modalId + '-page-views'] = pageViews;
            if (parseInt(jQuery(modal).data('number_of_page_views')) == pageViews) {
              if (localStorage) localStorage['oxy-' + modalId + '-page-views'] = 0;
              showModal(modal);
            }
            break;

        }

        // add event handler to close modal automatically after AJAX form submit
        if ($modal.data('close-after-form-submit') == 'yes') {

          // Contact Form 7
          if (typeof wpcf7 !== 'undefined') {
            $modal.find('div.wpcf7').each(function () {
              var $form = jQuery(this).find('form');
              this.addEventListener('wpcf7submit', function (event) {
                if (event.detail.contactFormId == $form.attr("id")) {
                  setTimeout(function () {
                    hideModal(modal);
                  }, 3000);
                }
              }, false);
            });
          }

          // Caldera Forms
          document.addEventListener("cf.submission", function (event) {
            // Pending, Caldera AJAX form submissions aren't working since Oxygen 2.2, see: https://github.com/soflyy/oxygen/issues/1638
            console.log(event);
          });

          // Ninja Forms
          jQuery(document).on("nfFormSubmitResponse", function (event, response) {
            // Only close the modal if the event was triggered from a Ninja Form inside the modal
            if ($modal.find("#nf-form-" + response.id + "-cont").length > 0) {
              setTimeout(function () {
                hideModal(modal);
              }, 3000);
            }
          });

        }

      })(modal);

    });

    // handle clicks on modal backdrop and on .oxy-close-modal
    jQuery("body").on('click touchend', '.oxy-modal-backdrop, .oxy-close-modal', function (event) {

      var $this = jQuery(this);
      var $target = jQuery(event.target);

      // Click event in the modal div and it's children is propagated to the backdrop
      if (!$target.hasClass('oxy-modal-backdrop') && !$this.hasClass('oxy-close-modal')) {
        event.stopPropagation();
        return;
      }

      if ($target.hasClass('oxy-modal-backdrop') && $this.hasClass('oxy-not-closable')) {
        return;
      }

      if ($this.hasClass('oxy-close-modal')) event.preventDefault();

      var $modal = $this.hasClass('oxy-close-modal') ? $this.closest('.oxy-modal-backdrop') : $this;
      hideModal($modal[0]);
    });

    jQuery(document).keyup(function (e) {
      if (e.key == 'Escape') {
        jQuery(".oxy-modal-backdrop:visible").each(function (index) {
          if (jQuery(this).data("close_on_esc") == 'on') hideModal(this);
        });
      }
    });

  });

</script>

<script type="text/javascript">

  jQuery(document).ready(oxygen_init_slide_menu);
  function oxygen_init_slide_menu($) {

    // check if supports touch, otherwise it's click:
    let touchEvent = 'ontouchstart' in window ? 'click' : 'click';

    $('.oxy-slide-menu').each(function () {

      let slide_menu = $(this);
      let slide_start = slide_menu.children('.oxy-slide-menu_inner').data('start');
      let slide_duration = slide_menu.children('.oxy-slide-menu_inner').data('duration');
      let slideClickArea = '.menu-item-has-children > a > .oxy-slide-menu_dropdown-icon-click-area';
      let dropdownIcon = slide_menu.children('.oxy-slide-menu_inner').data('icon');


      slide_menu.find('.menu-item-has-children > a').append('<button aria-expanded=\"false\" aria-pressed=\"false\" class=\"oxy-slide-menu_dropdown-icon-click-area\"><svg class=\"oxy-slide-menu_dropdown-icon\"><use xlink:href=\"#' + dropdownIcon + '\"></use></svg><span class=\"screen-reader-text\">Submenu</span></button>');

      // If being hidden as starting position, for use as mobile menu
      if (slide_start == 'hidden') {

        let slide_trigger_selector = $(slide_menu.children('.oxy-slide-menu_inner').data('trigger-selector'));

        //slide_trigger_selector.click( function( event ) {
        slide_trigger_selector.on(touchEvent, function (e) {
          slide_menu.slideToggle(slide_duration);
        });

      }

      if ('enable' === slide_menu.children('.oxy-slide-menu_inner').data('currentopen')) {

        let currentAncestorButton = slide_menu.find('.current-menu-ancestor').children('a').children('.oxy-slide-menu_dropdown-icon-click-area');

        currentAncestorButton.attr('aria-expanded', 'true');
        currentAncestorButton.attr('aria-pressed', 'true');
        currentAncestorButton.addClass('oxy-slide-menu_open');
        currentAncestorButton.closest('.current-menu-ancestor').children('.sub-menu').slideDown(0);
      }

    });

    // Sub menu icon being clicked
    $('.oxy-slide-menu, .oxygen-builder-body').on(touchEvent, '.menu-item-has-children > a > .oxy-slide-menu_dropdown-icon-click-area', function (e) {
      e.stopPropagation();
      e.preventDefault();
      oxy_slide_menu_toggle(this);
    }

    );


    function oxy_slide_menu_toggle(trigger) {

      var durationData = $(trigger).closest('.oxy-slide-menu_inner').data('duration');
      var othermenus = $(trigger).closest('.menu-item-has-children').siblings('.menu-item-has-children');
      othermenus.find('.sub-menu').slideUp(durationData);
      othermenus.find('.oxy-slide-menu_open').removeClass('oxy-slide-menu_open');
      othermenus.find('.oxy-slide-menu_open').attr('aria-expanded', function (i, attr) {
        return attr == 'true' ? 'false' : 'true'
      });
      othermenus.find('.oxy-slide-menu_open').attr('aria-pressed', function (i, attr) {
        return attr == 'true' ? 'false' : 'true'
      });

      $(trigger).closest('.menu-item-has-children').children('.sub-menu').slideToggle(durationData);

      $(trigger).attr('aria-expanded', function (i, attr) {
        return attr == 'true' ? 'false' : 'true'
      });

      $(trigger).attr('aria-pressed', function (i, attr) {
        return attr == 'true' ? 'false' : 'true'
      });

      $(trigger).toggleClass('oxy-slide-menu_open');

    }


    let selector = '.oxy-slide-menu .menu-item a[href*="#"]';
    $(selector).on('click', function (event) {

      if ($(event.target).closest('.oxy-slide-menu_dropdown-icon-click-area').length > 0) {
        // toggle icon clicked, no need to trigger it 
        return;
      }
      else if ($(event.target).attr("href") === "#" && $(this).parent().hasClass('menu-item-has-children')) {
        // prevent browser folllowing link
        event.preventDefault();
        // empty href don't lead anywhere, use it as toggle icon click area
        var hasklinkIcon = $(this).find('.oxy-slide-menu_dropdown-icon-click-area');
        oxy_slide_menu_toggle(hasklinkIcon);

      }
    });

  };

</script>


<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="oxy-social-icons-icon-linkedin" viewBox="0 0 32 32">
      <title>linkedin</title>
      <path
        d="M12 12h5.535v2.837h0.079c0.77-1.381 2.655-2.837 5.464-2.837 5.842 0 6.922 3.637 6.922 8.367v9.633h-5.769v-8.54c0-2.037-0.042-4.657-3.001-4.657-3.005 0-3.463 2.218-3.463 4.509v8.688h-5.767v-18z">
      </path>
      <path d="M2 12h6v18h-6v-18z"></path>
      <path d="M8 7c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-1.657 1.343-3 3-3s3 1.343 3 3z"></path>
    </symbol>
    <symbol id="oxy-social-icons-icon-facebook" viewBox="0 0 32 32">
      <title>facebook</title>
      <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
    </symbol>
    <symbol id="oxy-social-icons-icon-pinterest" viewBox="0 0 32 32">
      <title>pinterest</title>
      <path
        d="M16 2.138c-7.656 0-13.863 6.206-13.863 13.863 0 5.875 3.656 10.887 8.813 12.906-0.119-1.094-0.231-2.781 0.050-3.975 0.25-1.081 1.625-6.887 1.625-6.887s-0.412-0.831-0.412-2.056c0-1.925 1.119-3.369 2.506-3.369 1.181 0 1.756 0.887 1.756 1.95 0 1.188-0.756 2.969-1.15 4.613-0.331 1.381 0.688 2.506 2.050 2.506 2.462 0 4.356-2.6 4.356-6.35 0-3.319-2.387-5.638-5.787-5.638-3.944 0-6.256 2.956-6.256 6.019 0 1.194 0.456 2.469 1.031 3.163 0.113 0.137 0.131 0.256 0.094 0.4-0.106 0.438-0.338 1.381-0.387 1.575-0.063 0.256-0.2 0.306-0.463 0.188-1.731-0.806-2.813-3.337-2.813-5.369 0-4.375 3.175-8.387 9.156-8.387 4.806 0 8.544 3.425 8.544 8.006 0 4.775-3.012 8.625-7.194 8.625-1.406 0-2.725-0.731-3.175-1.594 0 0-0.694 2.644-0.863 3.294-0.313 1.206-1.156 2.712-1.725 3.631 1.3 0.4 2.675 0.619 4.106 0.619 7.656 0 13.863-6.206 13.863-13.863 0-7.662-6.206-13.869-13.863-13.869z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-youtube" viewBox="0 0 32 32">
      <title>youtube</title>
      <path
        d="M31.681 9.6c0 0-0.313-2.206-1.275-3.175-1.219-1.275-2.581-1.281-3.206-1.356-4.475-0.325-11.194-0.325-11.194-0.325h-0.012c0 0-6.719 0-11.194 0.325-0.625 0.075-1.987 0.081-3.206 1.356-0.963 0.969-1.269 3.175-1.269 3.175s-0.319 2.588-0.319 5.181v2.425c0 2.587 0.319 5.181 0.319 5.181s0.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563 0.244 10.881 0.319 10.881 0.319s6.725-0.012 11.2-0.331c0.625-0.075 1.988-0.081 3.206-1.356 0.962-0.969 1.275-3.175 1.275-3.175s0.319-2.587 0.319-5.181v-2.425c-0.006-2.588-0.325-5.181-0.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-rss" viewBox="0 0 32 32">
      <title>rss</title>
      <path
        d="M4.259 23.467c-2.35 0-4.259 1.917-4.259 4.252 0 2.349 1.909 4.244 4.259 4.244 2.358 0 4.265-1.895 4.265-4.244-0-2.336-1.907-4.252-4.265-4.252zM0.005 10.873v6.133c3.993 0 7.749 1.562 10.577 4.391 2.825 2.822 4.384 6.595 4.384 10.603h6.16c-0-11.651-9.478-21.127-21.121-21.127zM0.012 0v6.136c14.243 0 25.836 11.604 25.836 25.864h6.152c0-17.64-14.352-32-31.988-32z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-twitter" viewBox="0 0 32 32">
      <title>twitter</title>
      <path
        d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-instagram" viewBox="0 0 32 32">
      <title>instagram</title>
      <path
        d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z">
      </path>
      <path
        d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z">
      </path>
      <path
        d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-facebook-blank" viewBox="0 0 32 32">
      <title>facebook-blank</title>
      <path
        d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-rss-blank" viewBox="0 0 32 32">
      <title>rss-blank</title>
      <path
        d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM8.719 25.975c-1.5 0-2.719-1.206-2.719-2.706 0-1.488 1.219-2.712 2.719-2.712 1.506 0 2.719 1.225 2.719 2.712 0 1.5-1.219 2.706-2.719 2.706zM15.544 26c0-2.556-0.994-4.962-2.794-6.762-1.806-1.806-4.2-2.8-6.75-2.8v-3.912c7.425 0 13.475 6.044 13.475 13.475h-3.931zM22.488 26c0-9.094-7.394-16.5-16.481-16.5v-3.912c11.25 0 20.406 9.162 20.406 20.413h-3.925z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-linkedin-blank" viewBox="0 0 32 32">
      <title>linkedin-blank</title>
      <path
        d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 26h-4v-14h4v14zM10 10c-1.106 0-2-0.894-2-2s0.894-2 2-2c1.106 0 2 0.894 2 2s-0.894 2-2 2zM26 26h-4v-8c0-1.106-0.894-2-2-2s-2 0.894-2 2v8h-4v-14h4v2.481c0.825-1.131 2.087-2.481 3.5-2.481 2.488 0 4.5 2.238 4.5 5v9z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-pinterest-blank" viewBox="0 0 32 32">
      <title>pinterest</title>
      <path
        d="M16 2.138c-7.656 0-13.863 6.206-13.863 13.863 0 5.875 3.656 10.887 8.813 12.906-0.119-1.094-0.231-2.781 0.050-3.975 0.25-1.081 1.625-6.887 1.625-6.887s-0.412-0.831-0.412-2.056c0-1.925 1.119-3.369 2.506-3.369 1.181 0 1.756 0.887 1.756 1.95 0 1.188-0.756 2.969-1.15 4.613-0.331 1.381 0.688 2.506 2.050 2.506 2.462 0 4.356-2.6 4.356-6.35 0-3.319-2.387-5.638-5.787-5.638-3.944 0-6.256 2.956-6.256 6.019 0 1.194 0.456 2.469 1.031 3.163 0.113 0.137 0.131 0.256 0.094 0.4-0.106 0.438-0.338 1.381-0.387 1.575-0.063 0.256-0.2 0.306-0.463 0.188-1.731-0.806-2.813-3.337-2.813-5.369 0-4.375 3.175-8.387 9.156-8.387 4.806 0 8.544 3.425 8.544 8.006 0 4.775-3.012 8.625-7.194 8.625-1.406 0-2.725-0.731-3.175-1.594 0 0-0.694 2.644-0.863 3.294-0.313 1.206-1.156 2.712-1.725 3.631 1.3 0.4 2.675 0.619 4.106 0.619 7.656 0 13.863-6.206 13.863-13.863 0-7.662-6.206-13.869-13.863-13.869z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-youtube-blank" viewBox="0 0 32 32">
      <title>youtube</title>
      <path
        d="M31.681 9.6c0 0-0.313-2.206-1.275-3.175-1.219-1.275-2.581-1.281-3.206-1.356-4.475-0.325-11.194-0.325-11.194-0.325h-0.012c0 0-6.719 0-11.194 0.325-0.625 0.075-1.987 0.081-3.206 1.356-0.963 0.969-1.269 3.175-1.269 3.175s-0.319 2.588-0.319 5.181v2.425c0 2.587 0.319 5.181 0.319 5.181s0.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563 0.244 10.881 0.319 10.881 0.319s6.725-0.012 11.2-0.331c0.625-0.075 1.988-0.081 3.206-1.356 0.962-0.969 1.275-3.175 1.275-3.175s0.319-2.587 0.319-5.181v-2.425c-0.006-2.588-0.325-5.181-0.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-twitter-blank" viewBox="0 0 32 32">
      <title>twitter</title>
      <path
        d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z">
      </path>
    </symbol>
    <symbol id="oxy-social-icons-icon-instagram-blank" viewBox="0 0 32 32">
      <title>instagram</title>
      <path
        d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z">
      </path>
      <path
        d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z">
      </path>
      <path
        d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z">
      </path>
    </symbol>
  </defs>
</svg>

<script type='text/javascript' src='https://beta.weswap.com/wp-includes/js/hoverintent-js.min.js?ver=2.2.1'
  id='hoverintent-js-js'></script>
<script type='text/javascript' src='https://beta.weswap.com/wp-includes/js/admin-bar.min.js?ver=5.8'
  id='admin-bar-js'></script>
<script type='text/javascript' src='https://beta.weswap.com/wp-includes/js/underscore.min.js?ver=1.8.3'
  id='underscore-js'></script>
<script type='text/javascript' defer="defer"
  src='https://beta.weswap.com/wp-content/plugins/wp-hummingbird/admin/assets/js/wphb-global.min.js?ver=3.1.0'
  id='wphb-global-js'></script>
<script type='text/javascript'
  src='https://beta.weswap.com/wp-content/plugins/wp-smush-pro/app/assets/js/smush-lazy-load.min.js?ver=3.8.8'
  id='smush-lazy-load-js'></script>


<!-- /WP_FOOTER -->