<header id="main-menu-header" class="oxy-header-wrapper oxy-sticky-header oxy-overlay-header oxy-header">
  <div id="_header_row-2-12" class="oxy-header-row">
    <div class="oxy-header-container">
      <div id="_header_left-3-12" class="oxy-header-left">
        <div id="code_block-28-12" class="ct-code-block"><a href="https://www.weswap.com/"><svg id="logo-svg" viewBox="0.025 0 197.875 38" xmlns="http://www.w3.org/2000/svg">
<linearGradient id="A" gradientUnits="userSpaceOnUse" x1="22.423" y1="6.782" x2="37.328" y2="25.775">
<stop offset="0" stop-color="#f36222"></stop>
<stop offset="0.438" stop-color="#f9a81b"></stop>
<stop offset="1" stop-color="#f36222"></stop>
</linearGradient>
<path d="M41.2 29.5L34.1 17l6.4-11.5h13.9l-13.2 24zm-20.5 0L7.5 5.6h13.9l6.4 11.5-7.1 12.4zM61.5 1.4C61 .5 60.1 0 59.1 0H38.9c-1 0-1.9.5-2.4 1.4l-5.5 10-5.5-10C24.9.5 24 0 23 0H2.8C1.8 0 .9.5.4 1.4c-.5.8-.5 1.9 0 2.8l17.9 32.4c.5.9 1.4 1.4 2.4 1.4h0c1 0 1.9-.5 2.4-1.4L31 22.7l7.9 13.9c.5.9 1.4 1.4 2.4 1.4h0c1 0 1.9-.6 2.4-1.4L61.5 4.1a2.62 2.62 0 0 0 0-2.7z" fill="#f36321"></path>
<path d="M25.4 1.5l-4.1 4.1 17.4 31 2.4-7.1-15.7-28z" fill="url(#A)"></path>
<path class="txt" d="M 100 12.4 L 93.5 32.4 L 88.5 32.4 L 84.1 18.8 L 79.6 32.4 L 74.7 32.4 L 68.1 12.4 L 72.9 12.4 L 77.4 26.5 L 82.1 12.4 L 86.4 12.4 L 91 26.6 L 95.7 12.4 C 95.7 12.4 100 12.4 100 12.4 L 100 12.4 Z M 116.2 24.8 C 116.2 24.9 116.2 25.3 116.1 26 L 104.5 26 C 104.7 27 105.2 27.7 106 28.3 C 106.8 28.9 107.8 29.1 108.9 29.1 C 109.7 29.1 110.4 29 111 28.8 C 111.6 28.6 112.2 28.2 112.7 27.7 L 115.1 30.3 C 113.7 32 111.5 32.8 108.8 32.8 C 107.1 32.8 105.5 32.5 104.2 31.8 C 102.9 31.1 101.8 30.2 101.1 29 C 100.4 27.8 100 26.4 100 24.9 C 100 23.4 100.4 22 101.1 20.8 C 101.8 19.6 102.8 18.6 104 18 C 105.3 17.3 106.7 17 108.2 17 C 109.7 17 111.1 17.3 112.3 18 C 113.5 18.6 114.5 19.6 115.2 20.8 C 115.9 21.8 116.2 23.2 116.2 24.8 L 116.2 24.8 Z M 108.2 20.2 C 107.2 20.2 106.3 20.5 105.7 21.1 C 105 21.7 104.6 22.5 104.4 23.4 L 112 23.4 C 111.8 22.4 111.4 21.7 110.7 21.1 C 110.1 20.5 109.2 20.2 108.2 20.2 Z M 126.1 32.8 C 124.547 32.804 123 32.602 121.5 32.2 C 120 31.8 118.8 31.2 118 30.5 L 119.6 27 C 120.5 27.6 121.5 28.1 122.7 28.5 C 123.9 28.9 125.1 29.1 126.2 29.1 C 127.5 29.1 128.5 28.9 129.1 28.5 C 129.7 28.1 130 27.6 130 26.9 C 130 26.4 129.8 26 129.4 25.7 C 129 25.4 128.6 25.1 128 24.9 C 127.4 24.7 126.6 24.5 125.7 24.3 L 122 23.2 C 121 22.8 120.2 22.3 119.5 21.5 C 118.8 20.7 118.5 19.6 118.5 18.3 C 118.5 17.1 118.8 16.1 119.4 15.2 C 120 14.2 121 13.5 122.2 12.9 C 123.5 12.3 125 12.1 126.9 12.1 C 128.2 12.1 129.4 12.3 130.6 12.6 C 131.8 12.9 132.9 13.3 133.8 13.9 L 132.4 17.4 C 130.6 16.4 128.7 15.8 126.9 15.8 C 125.6 15.8 124.6 16 124 16.4 C 123.4 16.8 123.1 17.4 123.1 18.1 C 123.1 18.8 123.5 19.3 124.2 19.6 C 124.9 19.9 126 20.2 127.5 20.6 L 131.2 21.7 C 132.2 22.1 133 22.6 133.7 23.4 C 134.4 24.2 134.8 25.2 134.8 26.6 C 134.8 27.7 134.5 28.8 133.8 29.7 C 133.2 30.6 132.2 31.4 130.9 31.9 C 129.5 32.5 127.9 32.8 126.1 32.8 L 126.1 32.8 Z M 161.8 17.1 L 156.2 32.5 L 152 32.5 L 148.5 22.9 L 144.9 32.5 L 140.6 32.5 L 135.1 17.1 L 139.3 17.1 L 142.9 27.5 L 146.7 17.1 L 150.5 17.1 L 154.2 27.5 L 157.9 17.1 L 161.8 17.1 L 161.8 17.1 Z M 169.6 16.8 C 172 16.8 173.8 17.4 175.1 18.5 C 176.4 19.6 177 21.3 177 23.6 L 177 32.4 L 172.8 32.4 L 172.8 30.5 C 172 31.9 170.4 32.6 168.1 32.6 C 166.9 32.6 165.9 32.4 165 32 C 164.1 31.6 163.5 31 163 30.3 C 162.5 29.6 162.3 28.8 162.3 27.9 C 162.3 26.5 162.8 25.3 163.9 24.5 C 165 23.7 166.7 23.3 168.9 23.3 L 172.4 23.3 C 172.4 22.3 172.1 21.6 171.5 21.1 C 170.9 20.6 170 20.3 168.8 20.3 C 168 20.3 167.2 20.4 166.4 20.7 C 165.6 20.9 165 21.3 164.4 21.7 L 162.8 18.6 C 163.6 18 164.6 17.6 165.8 17.2 L 169.6 16.8 L 169.6 16.8 Z M 169.3 29.7 C 170.1 29.7 170.7 29.5 171.3 29.2 C 171.9 28.8 172.3 28.3 172.6 27.6 L 172.6 26 L 169.5 26 C 167.7 26 166.8 26.6 166.8 27.8 C 166.8 28.4 167 28.8 167.5 29.2 C 167.9 29.5 168.5 29.7 169.3 29.7 L 169.3 29.7 Z M 190.2 16.8 C 191.6 16.8 192.9 17.1 194.1 17.8 C 195.3 18.4 196.2 19.4 196.9 20.6 C 197.6 21.8 197.9 23.2 197.9 24.7 C 197.9 26.3 197.6 27.7 196.9 28.9 C 196.234 30.067 195.267 31.034 194.1 31.7 C 192.9 32.3 191.6 32.7 190.2 32.7 C 188.2 32.7 186.7 32.1 185.6 30.8 L 185.6 38 L 181.1 38 L 181.1 17.1 L 185.4 17.1 L 185.4 18.9 C 186.4 17.5 188 16.8 190.2 16.8 L 190.2 16.8 Z M 189.4 29 C 190.5 29 191.5 28.6 192.2 27.9 C 192.9 27.1 193.3 26.1 193.3 24.8 C 193.3 23.5 192.9 22.5 192.2 21.7 C 191.5 20.9 190.5 20.5 189.4 20.5 C 188.3 20.5 187.3 20.9 186.6 21.7 C 185.9 22.5 185.5 23.5 185.5 24.8 C 185.5 26.1 185.9 27.1 186.6 27.9 C 187.3 28.6 188.2 29 189.4 29 Z" fill="#333"></path>
</svg></a></div>
      </div>
      <div id="_header_center-4-12" class="oxy-header-center"></div>
      <div id="_header_right-5-12" class="oxy-header-right">
        <nav id="_nav_menu-8-12" class="oxy-nav-menu oxy-nav-menu-dropdowns oxy-nav-menu-dropdown-arrow">
          <div class='oxy-menu-toggle'>
            <div class='oxy-nav-menu-hamburger-wrap'>
              <div class='oxy-nav-menu-hamburger'>
                <div class='oxy-nav-menu-hamburger-line'></div>
                <div class='oxy-nav-menu-hamburger-line'></div>
                <div class='oxy-nav-menu-hamburger-line'></div>
              </div>
            </div>
          </div>
          <div class="menu-primary-container">
            <ul id="menu-primary" class="oxy-nav-menu-list">
              <li id="menu-item-29"
                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-29">
                <a href="https://www.weswap.com/features/" aria-current="page">Features</a>
              </li>
              <li id="menu-item-9786" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-9786">
                <a href="https://www.weswap.com/blog/">Blog</a>
              </li>
              <li id="menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31"><a
                  href="https://support.weswap.com/hc/en-gb/">Help</a></li>
              <li id="menu-item-32"
                class="highlight-link menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a
                  href="https://www.weswap.com/log-in/">Log in</a></li>
            </ul>
          </div>
        </nav>
        <a id="link_button-100-12" class="ct-link-button" href="https://www.weswap.com/join-us/" target="_self">JOIN US</a>
        <div id="main-hamburger" class="oxy-burger-trigger  "><button data-touch="click"
            class="hamburger hamburger--slider " type="button"><span class="hamburger-box"><span
                class="hamburger-inner"></span></span></button></div>

        <a id="open-hamburger" class="ct-link-button" href="#" target="_self">Open Menu</a>
      </div>
    </div>
  </div>
</header>
<script type="text/javascript">
  jQuery(document).ready(function () {
    let searchParams = new URLSearchParams(window.location.search)
    if(searchParams.has('embed') || document.cookie.split(';').some((item) => item.trim().startsWith('embed='))) {
      if(!document.cookie.split(';').some((item) => item.trim().startsWith('embed='))){
        //set cookie if not already set
        document.cookie = "embed=1; SameSite=None; Secure";
      }
      // remove header and footer when embedded on a phone
      jQuery('#main-menu-header').remove();
      jQuery('#section-31-12').remove();
    }
    var selector = "#main-menu-header",
      scrollval = parseInt("300");
    if (!scrollval || scrollval < 1) {
      jQuery("body").css("margin-top", jQuery(selector).outerHeight());
      jQuery(selector).addClass("oxy-sticky-header-active");
    }
    else {
      var scrollTopOld = 0;
      jQuery(window).scroll(function () {
        if (!jQuery('body').hasClass('oxy-nav-menu-prevent-overflow')) {
          if (jQuery(this).scrollTop() > scrollval
          ) {
            if (
              !jQuery(selector).hasClass("oxy-sticky-header-active")) {
              if (jQuery(selector).css('position') != 'absolute') {
                jQuery("body").css("margin-top", jQuery(selector).outerHeight());
              }
              jQuery(selector)
                .addClass("oxy-sticky-header-active")
                .addClass("oxy-sticky-header-fade-in");
            }
          }
          else {
            jQuery(selector)
              .removeClass("oxy-sticky-header-fade-in")
              .removeClass("oxy-sticky-header-active");
            if (jQuery(selector).css('position') != 'absolute') {
              jQuery("body").css("margin-top", "");
            }
          }
          scrollTopOld = jQuery(this).scrollTop();
        }
      })
    }
  });
</script>
<div class="oxy-modal-backdrop top oxy-not-closable" style="background-color: rgba(0,0,0,0.5);"
  data-trigger="user_clicks_element" data-trigger-selector="#open-hamburger" data-trigger-time="5"
  data-trigger-time-unit="seconds" data-close-automatically="no" data-close-after-time="10"
  data-close-after-time-unit="seconds" data-trigger_scroll_amount="50" data-trigger_scroll_direction="down"
  data-scroll_to_selector="" data-time_inactive="60" data-time-inactive-unit="seconds" data-number_of_clicks="3"
  data-close_on_esc="on" data-number_of_page_views="3" data-close-after-form-submit="no" data-open-again="always_show"
  data-open-again-after-days="3">

</div>
<div id='inner_content-29-12' class='ct-inner-content'>